<VirtualHost *:{{item.port}}>
        ServerName {{item.name}}.com

        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/{{item.dir}}/{{item.contenu}}

        ErrorLog ${APACHE_LOG_DIR}/error-{{item.name}}.log
        CustomLog ${APACHE_LOG_DIR}/access-{{item.name}}.log combined

        Redirect /  https://{{item.name}}.com/

</VirtualHost>

